<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/logements">Logements</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/visualiser_factures">Visualiser Factures</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/consommation_par_logement">Consommation</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/economies_realisees">Économies</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/sensors/1">Capteurs</a></li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar {
        background-color: #4caf50 !important;  /* Align with header color */
    }
    .navbar-brand, .nav-link {
        color: white !important;
    }
</style>


<!-- JavaScript to Handle Sidebar Toggle -->
<script>
    function toggleMenu() {
        const sidebar = document.getElementById('sidebar-menu');
        const menuButton = document.getElementById('menu-button');
        
        if (sidebar.style.left === '0px') {
            sidebar.style.left = '-250px'; // Close the sidebar
        } else {
            sidebar.style.left = '0px'; // Open the sidebar
        }
    }
</script>
